extends ../layout

block content
  h1 Add New Vet

  form(action="/vets" method="POST")
    label Vet Name:
    input(type="text" name="name" required)

    label Address:
    input(type="text" name="address" required)

    label Phone Number:
    input(type="text" name="contact" required)

    label Opening Time:
    input(type="text" name="openingTime" placeholder="9:00 AM" required)

    label Closing Time:
    input(type="text" name="closingTime" placeholder="9:00 PM" required)

    button(type="submit") Add Vet