extends ../layout

block content
  .admin-dashboard.container
    h1.admin-title Admin Dashboard
    .admin-profile
          img.admin-profile-img(src=user.image, alt="User Image")
          p.admin-name #{user.name}  
    .admin-content
      h2.admin-subtitle Welcome to the Admin Panel
      p.admin-text Manage users, pets, products, and adoption requests from here.

      .admin-grid
        .admin-card.bg-dark
          h5.admin-card-title User Profiles
          p.admin-card-text Manage all registered users.
          a.btn.btn-brown(href="/admin/profiles") View Profiles

        .admin-card.bg-brown
          h5.admin-card-title Adoption Requests
          p.admin-card-text Review and approve pet adoptions.
          a.btn.btn-brown(href="/admin/adoptionrequests") View Requests

        .admin-card.bg-gray
          h5.admin-card-title Orders
          p.admin-card-text Manage orders and payments.
          a.btn.btn-brown(href="/admin/orders") View Orders

        .admin-card.bg-brown
          h5.admin-card-title Pets
          p.admin-card-text Manage all pets available for adoption.
          a.btn.btn-brown(href="/pets") Manage Pets

        .admin-card.bg-gray
          h5.admin-card-title Products
          p.admin-card-text Add, edit, or delete pet products.
          a.btn.btn-brown(href="/products") Manage Products
        .admin-card.bg-highlight
          h5.admin-card-title Total Orders
          p.admin-card-text #{ordersCount} Orders Received
