extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/login.css')

    .login-container
        h1 LOGIN

        form.login-form(action="/login", method="post")
            .login-form-group
                label(for="email") Email
                input#email.login-input(type="email", name="email", placeholder="Enter your email")

            .login-form-group     
                label(for="password") Password
                input#password.login-input(type="password", name="password", placeholder="Enter your password")

                if error
                    .error-message(style="color: red; margin-top: 5px;")= error

            .login-form-group
                input.login-btn.btn-block(type="submit", value="SIGN IN")

            .login-links
                p Don't have an account?
                a.login-link(href="/register") Sign Up

            .login-links
                p Forgot your password?
                a.login-link(href="/forgot-password") Reset Password
