extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/login.css')

    .login-container
        h1 Reset Password

        form.login-form(action="/reset-password", method="post")
            input(type="hidden", name="token", value=token)

            .login-form-group
                label(for="password") New Password
                input#password.login-input(type="password", name="password", placeholder="Enter new password")

            .login-form-group
                label(for="confirmPassword") Confirm New Password
                input#confirmPassword.login-input(type="password", name="confirmPassword", placeholder="Confirm new password")

            .login-form-group
                input.login-btn.btn-block(type="submit", value="Reset Password")
