extends ../layout

block content
  h1 Add New Product
  form(action="/products/add", method="POST", enctype="multipart/form-data")
    .form-group
      label(for="name") Name
      input(type="text", class="form-control", id="name", name="name", required)
    .form-group
      label(for="type") Type
      input(type="text", class="form-control", id="type", name="type", required)
    .form-group
      label(for="price") Price
      input(type="text", class="form-control", id="price", name="price", required)
    .form-group
      label(for="description") Description
      textarea(class="form-control", id="description", name="description", required)
    .form-group
      label(for="instock") In stock
      textarea(class="form-control", id="instock", name="instock", required)
    .form-group
      label(for="image") Product Image
      input(type="file", class="form-control", id="image", name="image")
    button(type="submit", class="btn btn-success") Add Product