extends layout 

block content
  link(rel="stylesheet", href="/stylesheets/order-placed.css")
  
  .order-container
    .order-icon ✅
    h1 Adoption Request Placed Successfully!
    p Thank you for choosing us.
    a.btn(href="/") Return to Home
