doctype html 
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Pet Care Hub
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL' crossorigin='anonymous')
  body
    // Navigation
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark fixed-top
      .container
        a.navbar-brand(href='/')
          img.logo-style(src="/imgs/logo.png", alt="Pet Care Hub Logo")
          span.ms-2 Pet Care Hub
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ms-auto
            li.nav-item
              a.nav-link.active(aria-current='page' href="/")
                i.fas.fa-home.me-1
                | Home
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='/pets' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                i.fas.fa-paw.me-1
                | Pets
              ul.dropdown-menu.dropdown-menu-dark(aria-labelledby='navbarDropdown')
                li
                  a.dropdown-item(href='/pets?type=cat')
                    i.fas.fa-cat.me-2
                    | Cats
                li
                  a.dropdown-item(href='/pets?type=dog')
                    i.fas.fa-dog.me-2
                    | Dogs
                li
                  a.dropdown-item(href='/pets?type=bird')
                    i.fas.fa-dove.me-2
                    | Birds
                li
                  a.dropdown-item(href='/pets?type=rabbit')
                    i.fas.fa-rabbit.me-2
                    | Rabbits
                li
                  hr.dropdown-divider
                li
                  a.dropdown-item(href='/pets')
                    i.fas.fa-list.me-2
                    | View All
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='/products' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                i.fas.fa-shopping-bag.me-1
                | Products
              ul.dropdown-menu.dropdown-menu-dark(aria-labelledby='navbarDropdown')
                li
                  a.dropdown-item(href='/products?type=cat')
                    i.fas.fa-cat.me-2
                    | Cat Food
                li
                  a.dropdown-item(href='/products?type=dog')
                    i.fas.fa-dog.me-2
                    | Dog Food
                li
                  a.dropdown-item(href='/products?type=horse,snake')
                    i.fas.fa-horse.me-2
                    | Other Food
                li
                  hr.dropdown-divider
                li
                  a.dropdown-item(href='/products')
                    i.fas.fa-list.me-2
                    | View All
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                i.fas.fa-ellipsis-h.me-1
                | More
              ul.dropdown-menu.dropdown-menu-dark(aria-labelledby='navbarDropdown')
                li
                  a.dropdown-item(href='/stores')
                    i.fas.fa-store.me-2
                    | Shops
                li
                  a.dropdown-item(href='/clinics')
                    i.fas.fa-hospital.me-2
                    | Vet Clinics
                li
                  a.dropdown-item(href='/petsitters')
                    i.fas.fa-user-nurse.me-2
                    | Petsitters
                if user && user.role === 'admin'
                  li
                    hr.dropdown-divider
                  li
                    a.dropdown-item(href='/admin')
                      i.fas.fa-user-shield.me-2
                      | Admin Dashboard
                if user && user.role === 'seller'
                  li
                    a.dropdown-item(href='/userprofile')
                      i.fas.fa-user-tie.me-2
                      | Seller Profile
                if user && user.role === 'buyer'
                  li
                    a.dropdown-item(href='/buyerprofile')
                      i.fas.fa-user.me-2
                      | Buyer Profile
            if !user
              li.nav-item
                a.nav-link(href='/login')
                  i.fas.fa-sign-in-alt.me-1
                  | Login
            li.nav-item
              a.nav-link(href='/cart')
                i.fas.fa-shopping-cart.me-1
                | Cart

    // Main Content
    main.main-content
      block content

    // Footer
    footer.footer.bg-dark.text-light.py-5
      .container
        .row
          .col-md-4.mb-4
            h3.footer-heading.mb-4 Contact Us
            .contact-info
              p.mb-3
                i.fas.fa-phone.me-2
                | +923494721836
              p.mb-3
                i.fas.fa-phone.me-2
                | +923004526061
              p.mb-3
                i.fas.fa-envelope.me-2
                | sehrish7060@gmail.com
              p.mb-3
                i.fas.fa-envelope.me-2
                | gulbano7060@gmail.com
          
          .col-md-4.mb-4
            h3.footer-heading.mb-4 Quick Links
            .quick-links
              ul.list-unstyled
                li.mb-3
                  a.text-light.text-decoration-none(href='/pets')
                    i.fas.fa-paw.me-2
                    | Adopt a Pet
                li.mb-3
                  a.text-light.text-decoration-none(href='/clinics')
                    i.fas.fa-hospital.me-2
                    | Vet Clinics
                li.mb-3
                  a.text-light.text-decoration-none(href='/stores')
                    i.fas.fa-store.me-2
                    | Pet Stores
                li.mb-3
                  a.text-light.text-decoration-none(href='/petsitters')
                    i.fas.fa-user-nurse.me-2
                    | PetSitters
                li.mb-3
                  a.text-light.text-decoration-none(href='/products')
                    i.fas.fa-shopping-bag.me-2
                    | Products
          
          .col-md-4.mb-4
            h3.footer-heading.mb-4 Newsletter
            form#newsletter-form(action="/newsletter/subscribe" method="POST")
              .form-group.mb-3
                input.form-control.bg-dark.text-light.border-secondary(type="text" name="name" placeholder="Your name" required)
              .form-group.mb-3
                input.form-control.bg-dark.text-light.border-secondary(type="email" name="email" placeholder="Your email" required)
              button.btn.btn-primary.w-100(type="submit")
                i.fas.fa-paper-plane.me-2
                | Subscribe

    // Floating Action Buttons
    .floating-buttons
      a#call.btn.btn-danger.rounded-circle.shadow-lg(href="tel:03494721836" title="Call Us")
        i.fas.fa-phone
      a#bot.btn.btn-info.rounded-circle.shadow-lg(href="/chatbot/consultation" title="Consultation")
        i.fas.fa-robot
      a#personal.btn.btn-info.rounded-circle.shadow-lg(href="/chatbot" title="Search Bot")
        i.fas.fa-search
