extends layout
block content
  h1 Adoption Request
  form(action="/adoptionrequest", method="post")
    div.form-group
      label(for="email") Email
      input.form-control#email(type="text", name="email", required)
    div.form-group
      label(for="name") Name
      input.form-control#name(type="text", name="name", required)
    div.form-group
      label(for="address") Address
      textarea.form-control#address(name="address", required)
    div.form-group
      label(for="contact") Contact
      input.form-control#contact(type="text", name="contact", required)
    button.btn.btn-primary(type="submit") Submit Request
