doctype html 
html
  head
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/style.css')
    title Document
  body
    div
      #navbar
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
          .container-fluid
            a.navbar-brand(href='/')
              img.logo-style(src="/imgs/logo.png", alt="Home Logo")
            button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
              ul.navbar-nav
                li.nav-item
                  a.nav-link.active(aria-current='page' href="/") Home
                li.nav-item.dropdown
                  a#navbarDropdown.nav-link.dropdown-toggle(href='/pets' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                    | Pets
                  ul.dropdown-menu(aria-labelledby='navbarDropdown')
                    li
                      a.dropdown-item(href='#') Cats
                    li
                      a.dropdown-item(href='#') Dogs
                    li
                      a.dropdown-item(href='#') Others
                    li 
                      a.dropdown-item(href="#") View all
                li.nav-item.dropdown
                  a#navbarDropdown.nav-link.dropdown-toggle(href='/products' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                    | Products
                  ul.dropdown-menu(aria-labelledby='navbarDropdown')
                    li
                      a.dropdown-item(href='#') Cat Food
                    li
                      a.dropdown-item(href='#') Dog Food
                    li
                      a.dropdown-item(href='#') Other Food
                    li
                      a.dropdown-item(href='/products') View All
                li.nav-item
                  a.nav-link(href='#') PlayTime Appointment
                li.nav-item.dropdown
                  a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                    | More
                  ul.dropdown-menu(aria-labelledby='navbarDropdown')
                    li
                      a.dropdown-item(href='/volunteer') Volunteer
                    li
                      a.dropdown-item(href='/job') Job Employment
                    li
                      a.dropdown-item(href='/stores') Shops
                    li
                      a.dropdown-item(href='/clinics') Vet Clinics
                    li
                      a.dropdown-item(href='/petsitters') Petsitters
                if !user
                  li.nav-item
                    a.nav-link(href='/login')
                      svg.bi.bi-person-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16')
                        path(d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6', fill='white')
                li.nav-item
                  a.nav-link(href='/cart')
                    svg.bi.bi-cart3(xmlns='http://www.w3.org/2000/svg' width='16' height='16')
                      path(d='M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2', fill='white')
    block content
    .footer
      .f1
        h3 Contact Us!
        |             +923494721836 
        br
        |             +923004526061 
        br
        |             @sehrish7060@gmail.com 
        br
        |             @gulbano7060@gmail.com
      .f2
        h3 About Us
        a(href='') Adopt a Pet
        a(href='') Volunteer
        a(href='') Job Employment
        a(href='/clinics') Vet Clinics
        a(href='/stores') Pet Stores
        a(href='/petsitters') PetSitters 
        a(href='/products') Products
      .f3
        h3 SignUp For Our NewsLetter
        if user
          a.nav-link(href='/logout') Logout
    div
      button#call.btn.btn-danger(type='button') Call Us!
