extends ../layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-md-6
        .card
          .card-header
            h3.text-center Password Updated
          .card-body.text-center
            .alert.alert-success
              p Your password has been successfully updated.
            a.btn.btn-primary(href="/") Return to Home
