extends ../layout

block content
    .signup-container
        h1 SIGN UP
        form(action="/register", method="post", class="signup-form")
            .signup-form-group
                label(for="name") Name
                input#name(type="text", class="signup-input", name="name", placeholder="Enter your name") 
            .signup-form-group
                label(for="email") Email
                input#email(type="email", class="signup-input", name="email", placeholder="Enter your email") 
            .signup-form-group     
                label(for="password") Password
                input#password(type="password", class="signup-input", name="password", placeholder="Create a password")
            .signup-form-group
                input(type="submit", class="signup-btn btn-block", value="SIGN UP")
            .signup.form-group
                label(for="image") Your Image
                input(type="file", class="form-control", id="image", name="image")

        .signup-links
            p Already have an account?
            a(href="/login", class="signup-link") Log In