extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/petsadd.css')
    .container
        .form-container
            h1.page-title ✨ Add a New Pet for Adoption
            form(action="/pets/petsadd", method="POST", enctype="multipart/form-data", class="pet-form")
                .form-group
                    label(for="name") Name
                    input(type="text", class="form-control", id="name", name="name", required, placeholder="Enter pet's name")
                .form-group
                    label(for="type") Type
                    select(class="form-control", id="type", name="type", required, onchange="updateBreedOptions(this)")
                        option(value="") Select Type
                        option(value="Dog") Dog
                        option(value="Cat") Cat
                        option(value="Bird") Bird
                        option(value="Rabbit") Rabbit
                .form-group
                    label(for="breed") Breed
                    select(class="form-control", id="breed", name="breed", required)
                        // Breed options will be populated dynamically
                .form-group
                    label(for="color") Color
                    select(class="form-control", id="color", name="color", required)
                        option(value="Black") Black
                        option(value="White") White
                        option(value="Black and White") Black and White
                        option(value="Brown") Brown
                        option(value="Golden") Golden
                        option(value="Gray") Gray
                        option(value="Yellow") Yellow
                        option(value="Orange") Orange
                .form-group
                    label(for="fee") Adoption Fee
                    input(type="number", class="form-control", id="fee", name="fee", required, placeholder="Enter adoption fee")
                .form-group
                    label(for="description") Description
                    textarea(class="form-control", id="description", name="description", rows="5", required, placeholder="Provide a short description of the pet")
                .form-group
                    label(for="image") 📸 Pet Image
                    input(type="file", class="form-control-file", id="image", name="image")
                .button-group
                    button(type="submit", class="btn btn-submit") 🐶 Add Pet
                    a(href="/pets", class="btn btn-cancel")  🔙 Back

    script.
        function updateBreedOptions(select) {
            var breedSelect = document.getElementById('breed');
            breedSelect.innerHTML = ''; // Clear existing options

            var breeds = {
                Dog: ["Labrador Retriever", "German Shepherd", "Golden Retriever", "Bulldog", "Poodle", "Siberian Husky", "Dachshund", "Doberman Pinscher", "Shih Tzu", "Rottweiler"],
                Cat: ["Persian", "Maine Coon", "Siamese", "Bengal", "Ragdoll", "British Shorthair", "Scottish Fold", "Sphynx", "Abyssinian", "Norwegian Forest Cat"],
                Rabbit: ["Holland Lop", "Netherland Dwarf", "Mini Rex", "Flemish Giant", "Lionhead", "French Lop", "English Angora", "Harlequin", "Dutch Rabbit", "American Fuzzy Lop"],
                Bird: ["African Grey Parrot", "Budgerigar (Budgie)", "Cockatiel", "Macaw", "Lovebird", "Canary", "Finch", "Amazon Parrot", "Quaker Parrot", "Cockatoo"]
            };

            var selectedType = select.value;
            if (breeds[selectedType]) {
                breeds[selectedType].forEach(function(breed) {
                    var option = document.createElement('option');
                    option.value = breed;
                    option.text = breed;
                    breedSelect.appendChild(option);
                });
            }
        }