extends layout

block content
  h1 Stores Across Pakistan
  .store-list
    .store-card
      h2.store-name Pets Empire (Lahore)
      p.store-address 
        strong Address: 
        | 58 Bank Square, Model Town, C Block, Lahore, Pakistan, Lahore, 54000
      p.store-phone 
        strong Phone: 
        | 0333 4076307
      p.store-opening 
        strong Opening Time: 
        | 10:00 AM
      p.store-closing 
        strong Closing Time: 
        | 10:00 PM

    .store-card
      h2.store-name PetsHub (Lahore)
      p.store-address 
        strong Address: 
        | Shop #1, Javed Market, Maulana Shaukat Ali Rd, behind JS Bank, Mohammadpura Muhammadpura, Lahore, Punjab 54000
      p.store-phone 
        strong Phone: 
        | 0306 0357535
      p.store-opening 
        strong Opening Time: 
        | 10:00 AM
      p.store-closing 
        strong Closing Time: 
        | 9:00 PM

    .store-card
      h2.store-name PetsOne (Lahore)
      p.store-address 
        strong Address: 
        | Building #8, Mujahid Colony, Nashtar Metro Stop, Waheed Brother Colony, Lahore, Punjab
      p.store-phone 
        strong Phone: 
        | Not Available
      p.store-opening 
        strong Opening Time: 
        | 12:00 AM
      p.store-closing 
        strong Closing Time: 
        | 12:00 PM

    .store-card
      h2.store-name PetsMart Pakistan (Lahore)
      p.store-address 
        strong Address: 
        | 595 E2, Johar Town, Lahore, 54782
      p.store-phone 
        strong Phone: 
        | Not Available
      p.store-opening 
        strong Opening Time: 
        | 12:00 AM
      p.store-closing 
        strong Closing Time: 
        | 12:00 PM

    .store-card
      h2.store-name Iqbal Pets Products (Lahore)
      p.store-address 
        strong Address: 
        | 40a1, Jail Rd, Shadman 2 Shadman, Lahore, Punjab 54000
      p.store-phone 
        strong Phone: 
        | 0300 4745389
      p.store-opening 
        strong Opening Time: 
        | 12:00 AM
      p.store-closing 
        strong Closing Time: 
        | 12:00 PM

    .store-card
      h2.store-name Pets Mart (DHA Lahore)
      p.store-address 
        strong Address: 
        | Round Lake Animal Hospital, Phase 6 Ext Block E DHA, Lahore, Punjab 54920
      p.store-phone 
        strong Phone: 
        | (042) 35600600
      p.store-opening 
        strong Opening Time: 
        | 12:00 AM
      p.store-closing 
        strong Closing Time: 
        | 12:00 PM

    .store-card
      h2.store-name Unknown Store (Lahore)
      p.store-address 
        strong Address: 
        | Not Available
      p.store-phone 
        strong Phone: 
        | Not Available
      p.store-opening 
        strong Opening Time: 
        | 12:00 AM
      p.store-closing 
        strong Closing Time: 
        | 12:00 PM
