extends ../layout
block content
  link(rel="stylesheet", href="/stylesheets/order-placed.css")
  
  .order-container
    .order-icon ✅
    h1 Password Changed Successfully!
    
    if user.role === 'admin'
      a.btn(href="/admin") Return to Dashboard
    else if user.role === 'seller'
      a.btn(href="/userprofile") Return to User Profile
    else if user.role === 'buyer'
      a.btn(href="/buyerprofile") Return to Buyer Profile
