extends layout

block content
  h1 Vet Clinics Across Pakistan
  .clinic-list
    .clinic-card
      h2.clinic-name Pakistan Pets Hospital (Lahore)
      p.clinic-address 
        strong Address: 
        | E-1 block, Roundabout, near Jut Chowk, near ALLAH-HO, Johar Town, Lahore
      p.clinic-phone 
        strong Phone: 
        | 03033515333
      p.clinic-opening 
        strong Opening Time: 
        | 12:00 PM
      p.clinic-closing 
        strong Closing Time: 
        | 10:00 PM

    .clinic-card
      h2.clinic-name Animal Doctore Lahore (Lahore)
      p.clinic-address 
        strong Address: 
        | DHA Lahore DHA Phase 5, Lahore, 54910
      p.clinic-phone 
        strong Phone: 
        | 0349 0277031
      p.clinic-opening 
        strong Opening Time: 
        | 12:00 AM
      p.clinic-closing 
        strong Closing Time: 
        | 12:00 PM

    .clinic-card
      h2.clinic-name Ahmed Pet Clinic
      p.clinic-address 
        strong Address: 
        | Shop #65, 65 R1 Main Blvd, Main Road, adjacent DOMINOZ & COFFEE PLANET, Block R 1 Phase 2 Johar Town, Lahore, Punjab 54000
      p.clinic-phone 
        strong Phone: 
        | 0344 4436282
      p.clinic-opening 
        strong Opening Time: 
        | 2:00 PM
      p.clinic-closing 
        strong Closing Time: 
        | 10:00 PM
