extends layout

block content
  //- link(rel='stylesheet', href='/stylesheets/pet-results.css')

  h1 Matching Pets

  if pets.length
    .pet-results-container
      each pet in pets
        .pet-card
          h2.pet-name= pet.name
          p.pet-type Type: #{pet.type}
          p.pet-description Description: #{pet.description}
  else
    p.no-results No matching pets found.
