extends ../layout

block content
  link(rel='stylesheet' href='/stylesheets/change-password.css')

  .password-container
    h1 Change Password

    form.password-form(action="/change-password", method="POST")
      .form-group
        label(for="currentPassword") Current Password:
        input#currentPassword(type="password", name="currentPassword", required)

      .form-group
        label(for="newPassword") New Password:
        input#newPassword(type="password", name="newPassword", required placeholder="At least 8 chars, 1 digit, 1 special char")

      .form-group
        label(for="confirmPassword") Confirm New Password:
        input#confirmPassword(type="password", name="confirmPassword", required)

      .form-actions
        button.btn-submit(type="submit") Update Password
        
