extends layout
block content
    link(rel="stylesheet", href="/stylesheets/order-placed.css")
    .order-icon ✅
    h1 Subscribed Successfully!
    p You will now always receive an email on new Pet updates.
    a.btn(href="/") Return to Home
