extends ../layout

block content
  .admin-dashboard.container
    h1.admin-title User Profile
    .user-profile.container
      h1.user-title User Profile

      .user-info
        img.user-img(src=user.image ? user.image : '/images/default.png', alt="Profile Picture")
        p.user-name Name: #{user.name}
        p.user-email Email: #{user.email}

      // Added Edit Profile Card
      .admin-card.bg-blue
        h5.admin-card-title Edit Profile
        p.admin-card-text Update your profile information.
        a.btn.btn-brown(href="/users/edit") Edit Profile

    .admin-card.bg-brown
      h5.admin-card-title Adoption Requests
      p.admin-card-text Review and approve pet adoptions.
      a.btn.btn-brown(href="/userprofile/adoptionrequests") View Requests

    .admin-card.bg-gray
      h5.admin-card-title Orders
      p.admin-card-text Manage orders and payments.
      a.btn.btn-brown(href="/userprofile/orders") View Orders

    .admin-card.bg-brown
      h5.admin-card-title Pets
      p.admin-card-text Manage all pets available for adoption.
      a.btn.btn-brown(href="/pets") Manage Pets

    .admin-card.bg-gray
      h5.admin-card-title Products
      p.admin-card-text Add, edit, or delete pet products.
      a.btn.btn-brown(href="/products") Manage Products

    .admin-card.bg-highlight
      h5.admin-card-title Total Orders
      p.admin-card-text #{ordersCount} Orders Received

    .admin-card.bg-gray
      h5.admin-card-title Change Password
      p.admin-card-text Update your password securely.
      a.btn.btn-brown(href="/change-password") Change Password
