extends ../layout

block content
  link(rel='stylesheet' href='/stylesheets/add.css')

  .container
    h1.page-title ➕ Add New Product
    .form-container
      form(action="/products/add", method="POST", enctype="multipart/form-data")
        .form-group
          label(for="name") Product Name
          input(type="text", class="form-control", id="name", name="name", required, placeholder="Enter product name")

        .form-group
          label(for="type") Product Type
          input(type="text", class="form-control", id="type", name="type", required, placeholder="e.g., Cat Food, Dog Toy, Rat Cage")

        .form-group
          label(for="price") Price (in Rs)
          input(type="text", class="form-control", id="price", name="price", required, placeholder="Enter product price")

        .form-group
          label(for="description") Description
          textarea(class="form-control", id="description", name="description", required, placeholder="Provide a short product description", rows="3")

        .form-group
          label(for="instock") Available Stock
          input(type="text", class="form-control", id="instock", name="instock", required, placeholder="Enter quantity", min="0")

        .form-group
          label(for="image") Upload Product Image
          input(type="file", class="form-control file-input", id="image", name="image")

        button(type="submit", class="btn btn-add-product") ➕ Add Product
