doctype html
html
  head
    title Admin
    link(rel="stylesheet" href="/styles.css")
  body
    header
      h1 Admin Panel
      nav
        ul
          li: a(href="/admin/profile") Profile
          li: a(href="/admin/orders") Orders
          li: a(href="/admin/requests") Requests