extends ../layout

block content
      h2 Orders
      if orders && orders.length > 0
        .row
        each order in orders
            .col-sm-4.mb-3
                .card
                    .card-body
                        p.card-text Name: #{order.name}
                        p.card-text Email: $#{order.email}
                        p.card-text Address: #{order.contact}
                        p.card-text Contact: #{order.address}
      else
        p No orders to display.
