extends layout

block content
    form(action="/change-password" method="POST")
      div
        label(for="currentPassword") Current Password:
        input(type="password" name="currentPassword" required)

      div
        label(for="newPassword") New Password:
        input(type="password" name="newPassword" required placeholder="At least 8 chars, 1 digit, 1 special char")

      div
        label(for="confirmPassword") Confirm New Password:
        input(type="password" name="confirmPassword" required)

      button(type="submit") Update Password

    a(href="/user/profile/#{user._id}") Back to Profile