extends ../layout

block content
  h1 Reset Password
  form(action="/users/reset-password", method="post")
    input(type="hidden", name="email", value=email)
    .form-group
      label(for="newPassword") Enter new password
      input#newPassword(type="password", name="newPassword", class="form-control")
    input(type="submit", value="Reset Password", class="btn btn-primary")
