extends ../layout

block content
  .profile-edit-container
    h1 Edit Profile
    form(method="POST", action="/users/editprofile", enctype="multipart/form-data")
      label(for="name") Name:
      input(type="text", name="name", id="name", value=user.name required)
      
      label(for="email") Email:
      input(type="email", name="email", id="email", value=user.email required)
      
      label(for="contact") Contact:
      input(type="text", name="contact", id="contact", value=user.contact)
      
      label(for="image") Profile Image:
      input(type="file", name="image", id="image")
      
      button(type="submit") Save Changes
