extends ../layout

block content
    link(rel='stylesheet', href='/stylesheets/login.css')
    
    .login-container
        h1 Forgot Password
        
        if error
            .alert.alert-danger= error
        if message
            .alert.alert-success= message
        
        form.login-form(action="/forgot-password", method="post")
            .login-form-group
                label(for="email") Enter your email
                input#email.login-input(type="email", name="email", placeholder="Enter your email")
            
            .login-form-group
                input.login-btn.btn-block(type="submit", value="Send Reset Link")
