extends ../layout

block content
    .signup-container
        h1 SIGN UP
        form(action="/register", method="post", class="signup-form")
            .signup-form-group
                label(for="name") Name
                input#name(type="text", class="signup-input", name="name", placeholder="Enter your name", required) 
            .signup-form-group
                label(for="email") Email
                input#email(type="email", class="signup-input", name="email", placeholder="Enter your email", required) 
            .signup-form-group     
                label(for="password") Password
                input#password(type="password", class="signup-input", name="password", placeholder="Create a password", required)
                p.password-hint Password must be at least 8 characters, with 1 digit and 1 special character.
            .signup-form-group
                label(for="role") Account Type
                select#role(name="role", class="signup-input", required)
                    option(value="seller") Seller
                    option(value="admin") Admin
            .signup-form-group
                label(for="image") Your Image
                input(type="file", class="form-control", id="image", name="image")
            .signup-form-group
                input(type="submit", class="signup-btn btn-block", value="SIGN UP")

        .signup-links
            p Already have an account?
            a(href="/login", class="signup-link") Log In
