extends ../layout

block content
  h2 Change Password

  form(method="POST", action="/change-password")
    .form-group
      label(for="currentPassword") Current Password:
      input#currentPassword(type="password", name="currentPassword", required)

    .form-group
      label(for="newPassword") New Password:
      input#newPassword(type="password", name="newPassword", required)

    .form-group
      label(for="confirmPassword") Confirm New Password:
      input#confirmPassword(type="password", name="confirmPassword", required)

    button.btn.btn-brown(type="submit") Update Password
