extends ../layout
block content
  link(rel="stylesheet", href="/stylesheets/order-placed.css")
  
  .order-container
    .order-icon ✅
    h1 Passowrd Changed Successfully!
    a.btn(href="/admin") Return to Dashboard