extends ../layout

block content
  link(rel='stylesheet' href='/stylesheets/userprofile.css') 
  .user-dashboard
    .dashboard-container
      h1.user-title Seller Profile
      .user-content
        .user-grid.animated-dashboard
          .user-card
            .card-icon
              i.fas.fa-paw
            h5.user-card-title Adoption Requests
            p.user-card-text Review and approve pet adoptions.
            a.btn.btn-brown(href="/userprofile/adoptionrequests") View Requests

          .user-card
            .card-icon
              i.fas.fa-shopping-cart
            h5.user-card-title Orders
            p.user-card-text #{ordersCount} Orders Received
            a.btn.btn-brown(href="/userprofile/orders") View Orders

          .user-card
            .card-icon
              i.fas.fa-dog
            h5.user-card-title Pets
            p.user-card-text Manage all pets available for adoption.
            a.btn.btn-brown(href="/pets") Manage Pets

          .user-card
            .card-icon
              i.fas.fa-box
            h5.user-card-title Products
            p.user-card-text Add, edit, or delete pet products.
            a.btn.btn-brown(href="/products") Manage Products